%table.table.table-striped
  %tr
    %th 
      /%h3= locals[:header]
    %th(width="30%")
      Price
      %small.text-muted starting at
  - items.each do |item|
    %tr
      %td= item.first
      %td
        = "$#{item.last}"
