/ http://lipis.github.io/bootstrap-social/
%section.footer
  .container
    %hr
    .col-md-8
      %a(name="contact")
      %h4 Address
      %a(href="https://www.google.com/maps/place/10350+Bandera+Rd+%23206,+San+Antonio,+TX+78250/@29.5396635,-98.6507531,17z/data=!3m1!4b1!4m2!3m1!1s0x865c67da69783e2f:0x33c82e9da1bb6046" target="_map")
        %p
          10350 Bandera Road, Suite 206
          %br
          San Antonio, TX 78250

      %p 
        Phone: 
        %a(href="tel:#{phone}")= phone
      %p 
        Email: 
        %a(href="mailto:myfusionsalon@gmail.com?subject=contact from website") myfusionsalon@gmail.com   
    .col-md-4 
      %a(name='social')
      %h4 Social Media Links
      %a(href="https://www.facebook.com/FusionSalonSA" class="btn btn-social-icon btn-facebook")
        %i(class="fa fa-twitter")
      %a(href="https://google.com/plus" class="btn btn-social-icon btn-google-plus")
        %i(class="fa fa-google-plus")      
  