= image_tag "header.png", class: "img-responsive", style: 'width:100%;margin-top:-20px'

.container
  %h1 Welcome
  %p Where fusing talents creates the perfect style for you.  Come stressed, leave refreshed!

  %p 
    = fusion 
    is San Antonio's premier beauty salon specializing in cutting edge hairstyles, skin care, haircutting, hair coloring and manicures/pedicures. Our team of service professionals are ready to
    serve and educate you with the latest’s styles and trends. We are the premier salon experience that
    you deserve!

  %p 
    At 
    = fusion
    we pride ourselves on perfecting our craft. We keep up with current hair trends, training, and education to better serve you.   We will bring our creativity and expertise to co-create the perfect look for you based on lifestyle, face shape and skin tone.

  %p 
    = fusion
    is a Redken Salon, we can fulfill any hair and make-up need for fashions shows, photo-shoots for print or artistic, and or any special event.  We also specialize in Men’s haircutting and treatments/therapies for thinning hair, facials and chemical exfoliation services along with full body waxing services.

  %p Please enjoy our warm inviting atmosphere with complimentary beverages and snacks for you, our guests. Please ask about our referral program, we love to reward our clients for sending us new clients. 
